/* THE MOBILE FIRST SOLUTION */
/* The small screens */
/* Under the 700px */

/*******************/
/* Global Styles */
/*******************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  /* To center the content */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

main {
  padding: 3.125rem 0;
}

.container {
  width: 80%;
  max-width: 43.75rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

/*******************/
/* Component Styles */
/*******************/

/* The header area */
/*********************/

.header {
  background-color: #2e323f;
  /* temp */
  height: 4.6875rem;
}

.menu {
  /* emtpy */
}

/* The hero area */
/*********************/

.hero {
  background-color: #3b4050;
  padding: 2.5rem 0;
}

.hero__title {
  /* Typography */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  line-height: 1.1;
}

.hero__title--color {
  /* Typography */
  color: #a59678;
}

.hero__content-area {
  /* empty */
}

.hero__description {
  /* Typography */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #fff;
  line-height: 1.3;
  /* Whitespace */
  margin-bottom: 1.25rem;
}

.btn:link,
.btn:visited {
  /* Typography */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  /* Button */
  display: inline-block;
  padding: 0.3125rem 1.25rem;
  background-color: #a59678;
  border-radius: 6.25rem;

  transition: all 0.7ms;
}

.btn:hover,
.btn:active {
  opacity: 0.7;
}

/* The feature area */
/*********************/

.feature {
  background-color: #eee;
  padding: 2.5rem 0;
}

.feature-item__title {
  /* Typography */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #a59678;

  /* Whitespace */
  margin-bottom: 5px;
}

.feature-item__description {
  /* Typography */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #3b4050;
  line-height: 1.3;
}

/* The content area */
/*********************/

/* content */

.content {
  padding: 2.5rem 0;
  background-color: #dfdfdf;
}

.content-area {
  /* empty */
}

.content-area__title {
  /* Typography */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #a59678;
  /* Whitespace */
  margin-bottom: 5px;
}

.content-area__description {
  /* Typography */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #2e323f;
  line-height: 1.3;
  /* Whitespace */
  margin-bottom: 1.25rem;
}

.content-area__img-area {
  width: 100%;
}

.content-area__img {
  /* Positioning */
  max-width: 100%;
  display: block;
  /* Whitespace */
  margin-bottom: 1.25rem;
}

/* aside */
.aside-area {
}

.aside-item {
  padding: 2.5rem 0;
  background-color: #2e323f;
}

.aside-item__title {
  /* Typography */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: #fff;
  /* Positioning */
  text-align: center;
  /* Whitespace */
  margin-bottom: 5px;
}

.aside-item__description {
  /* Typography */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #6f737f;
  line-height: 1.3;
  /* Positioning */
  text-align: center;
}

/* The footer area */
/*********************/

.footer {
  padding: 2.5rem 0;
  background-color: #2e323f;
}

.footer__title {
  /* Typography */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  color: #fff;
  /* Positioning */
  text-align: center;
  /* Whitespace */
  margin-bottom: 20px;
}

.footer-area {
  /* Positioning */
  text-align: center;
}

.footer-content {
  /* empty */
}

.footer-area__content-title {
  /* Typography */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #a59678;
  /* Whitespace */
  margin-bottom: 0.3125rem;
}

.footer-area__content-description {
  /* Typography */
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6f737f;
  line-height: 1.3;
}

.footer-area__list li {
  list-style: none;
  margin-bottom: 0.3125rem;
}

.footer-area__list-item--title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  color: #a59678;
}

.footer-area__list-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #6f737f;
  line-height: 1.3;
}

.footer-area__link:link,
.footer-area__link:visited {
  text-decoration: none;
  color: #6f737f;
  transition: all 0.7ms;
}

.footer-area__link:hover,
.footer-area__link:active {
  opacity: 0.7;
}
